<%- include('./partials/header') %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="titleinput" class="form-label">Post Title</label>
            <input type="text" class="form-control" id="titleinput" name="title">
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Post Description</label>
            <textarea class="form-control" id="Description" name="desc" rows="3"></textarea>
        </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
<%- include('./partials/footer') %>